body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  min-height: 100vh;
  display: grid;
  align-items: stretch;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr auto;
}
.Inputs {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.Output {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.Preview {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.App > * {
  height: 100%;
  flex-basis: 0;
  flex-grow: 1;
}

iframe {
  width: 100%;
  height: 100vh;
  display: block;
  border: none;
}

* {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  resize: none;
}

input, textarea {
  padding: 0.5rem;
  border: solid 1px #ddd;
}

input[data-valid="false"] {
  border-color: red;
}

code {
  padding: 1rem;
  display: block;
  background: #eee;
  word-break: break-all;
}

label {
  margin: .5rem 0;
  display: block;
}

.Inputs {
  padding: 1rem;
}

.item-input-grid {
  margin: .5rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: .5rem;
}

.button-group {
  display: flex;
}

.button-group a {
  display: block;
  flex: 1 0 0;
  background: #20407C;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.button-group a:hover {
  background: #10203E;
}